.Complete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.completeTitle {
    font-weight: bold;
    font-size: 23px;
    margin-top: 60px;
    margin-bottom: 40px;
    position: relative;
}

.completeTitle::before {
    content: "";
    position: absolute;
    left: -6%;
    top: 75%;
    width: 110%;
    height: 0.8rem;
    background-color: #FFD8D8;
    z-index: -1;
    transform: translateY(-50%);
    border-radius: 0.1rem;
}

.completePhoto {
    display: flex;
    width: 300px;
    height: 300px;
    position: relative;
}

.completePhotoFlower {
    width: 100%;
    border-radius: 15px;
}

.photoFavIcon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 12px;
    margin-bottom: 8px;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    ;
    font-size: 35px;
    color: #F3F3F3;
    z-index: 2;
}

.photoFavIcon.like {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: #FF5B5B;
}

.completePredictContainer {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.completePriceTitle {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 12px;
}

.completePriceToggle {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.priceIcon {
    font-size: 20px;
    margin-right: 5px;
}

.priceIcon.open {
    transform: rotate(90deg);
}

.completePrice {

}

.completeSubPriceContainer {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.completeSubPriceContainer.open {
    max-height: 200px;
    opacity: 1;
}

.completeSubPriceTitle {
    margin-bottom: 8px;
    font-weight: bold;
}

.completeSubPriceBody {

}

.completeBtnContainer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 40px;
}

.btnM {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    color: #383838;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
    margin: 10px;
}

.btnM.new {
    background-color: #DEDEDE;
}

.btnM.request {
    background-color: #FFCDCD;
}