.Standby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.standbyContainer {
    width: 100%;
    height: calc(100vh - 65px);
    background-image: url(../assets/flower.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

}

.standbyContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.standbyText {
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    z-index: 2;
}

.standbyTitle {
    font-weight: bold;
    font-size: 21px;
}

.standbyDescription {
    margin: 20px 80px;
}

.standbySub {
    z-index: 2;
}

.standbySubTitle {
    font-weight: bold;
    font-size: 20px;
    color: white;
    
}

.standbySubContainer {
    width: 100%;
    height: 170px;
    margin-bottom: 20px;
}
