.Store {
}

.filter-button {
    margin-top: 1rem;
}

.dropDown{
    margin: 0.2rem 0.5rem 0 0 ;
    display: flex;
    justify-content: right;
    /* background-color: aqua; */
}

.store-cards {
    /* background-color: aqua; */
    display: grid;
}